@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

.landing-page {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 480px;
  align-items: center;
  height: 72px;
  background-color: #1f2937;
}

.header {
  display: flex;
  color: #f9faf8;
  align-items: center;
  gap: 16px;
  font-size: 24px;
}

.logo-container img {
  display: flex;
  height: 36px;
  width: auto;
}

.navbar {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  gap: 32px;
}

.hero-section {
  display: flex;
  align-items:center;
  justify-content:center;
  gap: 100px;
  padding: 0 0 64px;
  background-color: #1F2937;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 480px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 0px;
  margin-top: 0px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button button {
  border-radius: 8px;
  border: none;
  width: 110px;
  background: #3882f6;
  color: #ffffff;
  font-weight: bold;
  padding: 8px;
}

.hero-image-container img {
  display: flex;
  align-items: center;
  height: 360px;
  width: auto;
}

.offer-info-section {
  align-items:center;
  padding: 64px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-top: 0px;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.info-cards img {
  object-fit: cover;
  width: 240px;
  height: 200px;
  border-radius: 16px;
  border: 4px solid #3882F6;
}

.info-cards p {
  max-width: 240px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  height: 72px;
  align-items: center;
}